body {
    font-family: 'Lobster', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin-right: 0;
    margin-left: 25px;
}

#youtube-logo {
    width: 130px;
    padding-right: 32px;
}

#mi-icono-del-canal{
    width: 40px;
    border-radius: 50%;
}

.barra-busqueda {
    display: flex;
    justify-content: space-between;
    
}

.entrada-busqueda {
    width: 650px;
    height: 35px;
}

.boton-busqueda {
    height: 35px;
}

.iconos-menu {
    display: flex;
    justify-content: end;
    padding-right: 30px;
    gap: 20px;
    align-items: center;

}

#boton-microfono {
    position: relative;
    right: 160px;
}

.canal-icono {
    width: 40px;
    margin-right: 13px; 
}

.sección-videos {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-evenly;
    
    position: relative;
    top: -755px;
    padding-left: 15%; 
}

.barra-de-navegación {
    z-index: 1;
    position: relative;
    top: -75px;
    
    width: 200px;
}

.navegación {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: solid rgb(199, 199, 199) 1px;
    gap: 20px;

}

.navegación-nombre {
    text-decoration: none;
    
}

.nombre {
    margin-left: 25px;
    color: #222;
}

#navegacion-tu {
    color: black;  
    font-weight: bold;  
}

#navegacion-explorar {
    color: black;  
    font-weight: bold; 
}

.icono-navegacion {
    margin-left: -3px;
    width: 18px;
}

#icono-navegacion-shorts{
    margin-left: -3px;
    width: 20px;
}

#icono-youtube-music {
    width: 20px;
}

#videojuegos {
    margin: 19px;
}

#tendencias {
    margin-left: 27px;
}

#mis-videos {
    margin-left: 23px;
}

.sección-inferior-video {
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
}

.detalles-video {
    display: flex;
    flex-direction: column;
}

.contenido-imagen {
    display: flex;
    width: 345px;
    margin-top: 25px;
}

.video-titulo {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    text-decoration: none;
    color: black;
}

.nombre-canal {
    margin-bottom: 2px;
    text-decoration: none;
    color: #555;
}

.datos-del-video {
    color: #555;
}

.sección-categorias {
    padding: 16px 32px;
   
    display: flex;
    overflow: hidden;

}

.categorias {
    border-radius: 8px;
    border: solid 2px white;
    margin-right: 16px;
    font-size: 15px;
    padding: 9px;
    font-weight: bold;
    display: flex;
    justify-content: end;
    padding-top: 0;
}

button.categorias {
    cursor: pointer;
}

